<div class="w-screen h-[100svh] flex justify-center items-center bg-gray-100">
    <div class="w-full max-w-xs">
  
      <form
        class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 group"
        [formGroup]="loginForm"
      >
  
        <div class="mb-4">
  
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="username"
          >
            Usuario
          </label>
  
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="username"
            type="text"
            placeholder="Ingrese usuario"
            formControlName="username"
            required
          >
  
          <span
            *ngIf="loginForm.controls.username.errors && loginForm.controls.username.dirty"
            class="mt-2 text-sm text-red-500"
          >
            Ingrese un usuario válido
          </span>
  
        </div>
  
        <div class="mb-4">
  
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="password"
          >
            Contraseña
          </label>
  
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="password"
            type="password"
            placeholder="Ingrese contraseña"
            formControlName="password"
            required
          >
  
          <span
            *ngIf="loginForm.controls.password.errors && loginForm.controls.password.dirty"
            class="mt-2 text-sm text-red-500"
          >
            Contraseña inválida
          </span>
  
        </div>
        <div class="flex items-center justify-between pt-2">
  
          <button
            class="w-full bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline disabled:pointer-events-none disabled:opacity-30"
            type="submit"
            [disabled]="loginForm.invalid"
          >
            Login
          </button>
  
        </div>
      </form>
      
    </div>
  </div>